<div class="row">
    <div class="col-md-12">
        <h1>{{movie.movie.title}}</h1>
    </div>
</div>
<div class="row">
    <div class="col-md-8">
        <table class="table table-striped">
            <tr ng-repeat="(key, value) in movie.movie">
                <th>{{key}}</th>
                <td>
                    <!-- The default value -->
                    <span ng-if="key !== 'poster_path' && key !== 'webflixRating'">
                        {{value}}
                    </span>

                    <!-- If it's the poster path -->
                    <img ng-if="key === 'poster_path'"
                         data-ng-src="{{ movie.movie.posterUrl() }}"
                         alt="Movie Poster">

                    <!-- If it's the webflixRating -->
                    <ratings ng-if="key === 'webflixRating'"
                             data-movie="movie.movie"></ratings>
                </td>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <form class="form"
              ng-submit="movie.addComment(movie.comment)"
              name="commentForm">
            <textarea name="commentBody"
                      required
                      ng-model="movie.comment"
                      placeholder="Leave a comment!"
                      class="form-control commentBody"></textarea>

            <button class="btn btn-block btn-md btn-primary"
                    ng-disabled="commentForm.$invalid">
                Add Comment
            </button>
        </form>

        <ul class="comments">
            <li ng-repeat="comment in movie.movie.comments">{{comment}}</li>
            <li ng-if="!movie.movie.comments.length">Be the first to comment!</li>
        </ul>

    </div>
</div>